<p>{{infoText}}</p>

<b-prime-table [config]="tableConfig" (add)="onAdd($event)" (edit)="onEdit($event)">
    <div class="header-left d-inline float-left">
        <button class="btn btn-sm btn-primary mr-2 d-inline pull-left" type="button"><i class="fal fa-refresh"></i> Reload</button>
        <button *ngIf="filteredParam" class="btn btn-sm btn-dark mx-2 d-inline pull-left" type="button"><i class="fal fa-times"></i> Show all</button>
    </div>
    <div class="header-right d-inline float-right">
        <label class="switch-label" for="archiveSwitch">Include archived</label>
        <label class="switch">
            <input type="checkbox" id="archiveSwitch">
            <span class="slider round"></span>
        </label>
    </div>
    <ng-template let-expanded="expandedRow">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="list-group">
                        <div class="list-group-item"><strong>Name:</strong> {{expanded.name}}</div>
                        <div class="list-group-item"><strong>Age:</strong> {{expanded.age}}</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="list-group-item"><strong>E-mail:</strong> {{expanded.email}}</div>
                    <div class="list-group-item"><strong>Order + id sum:</strong> {{expanded.order + expanded.id}}</div>
                </div>
            </div>
        </div>
    </ng-template>
</b-prime-table>