<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <h1>Prime Table</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>With sortable rows</h4>
        </div>
        <div class="col-12">
            <b-prime-table [config]="tableConfigSortableRows" (add)="onAdd($event)" (edit)="onEdit($event)" (archive)="onArchive($event)"></b-prime-table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>With reorderable rows</h4>
        </div>
        <div class="col-12">
            <b-prime-table [config]="tableConfigReorderableRows" (add)="onAdd($event)" (edit)="onEdit($event)" (archive)="onArchive($event)"></b-prime-table>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>