<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <h1>Prime Table</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>With expandable rows</h4>
        </div>
        <div class="col-12">
            <b-prime-table [config]="tableConfigExpandableRows" (add)="onAdd($event)" (edit)="onEdit($event)" (archive)="onArchive($event)">
                <ng-template let-expanded="expandedRow">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="list-group">
                                    <div class="list-group-item"><strong>Name:</strong> {{expanded.name}}</div>
                                    <div class="list-group-item"><strong>Age:</strong> {{expanded.age}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="list-group-item"><strong>E-mail:</strong> {{expanded.email}}</div>
                                <div class="list-group-item"><strong>Order + id sum:</strong> {{expanded.order + expanded.id}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </b-prime-table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>With sortable rows</h4>
        </div>
        <div class="col-12">
            <b-prime-table [config]="tableConfigSortableRows" (add)="onAdd($event)" (edit)="onEdit($event)" (archive)="onArchive($event)"></b-prime-table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>With reorderable rows</h4>
        </div>
        <div class="col-12">
            <b-prime-table [config]="tableConfigReorderableRows" (add)="onAdd($event)" (edit)="onEdit($event)" (archive)="onArchive($event)"></b-prime-table>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>