<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container">
        <h1 class="display-4"><span class="text-danger">Prime</span>Table</h1>
        <p class="lead">Table wrapper using the <a class="text-dange" href="https://www.primefaces.org/primeng/#/" target="_new">PrimeNg</a> component package</p>
        <div class="btn-group" role="group" aria-label="External links">
            <a class="btn btn-light btn-md" href="https://github.com/beerran/prime-table" target="_new" role="button">GitHub</a>
            <a class="btn btn-danger btn-md" href="https://npmjs.com/package/prime-table" target="_new" role="button">npmjs</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-4">
        <div class="col-12 col-md-10">
            <router-outlet></router-outlet>
        </div>
        <div class="col-12 col-md-2">
            <nav class="nav flex-column">

            </nav>
            <div class="nav flex-column nav-pills" aria-orientation="vertical">
                <a class="nav-link" *ngFor="let item of menu" routerLinkActive="active" [routerLink]="item.route.path">
                    {{item.label}}
                </a>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>