<h1>Home</h1>
<p>
    Dynamic tables made easier! Use the configurable PrimeTable classes to easily configure and set up new data tables
</p>
<p>
    PrimeTable is an Angular wrapper for the PrimeNg component suite. Achieve features such as sorting, row expanding, data drilldown, row selection, filtering and more with minimal configuration.
</p>

<h4>Installation</h4>
<p>
    To install PrimeTable into an existing Angular application, simply run:
</p>
<code>
npm install prime-table --save
</code>
<p>
    As of now the documentation lives in the readme, but will be moved to the <a href="https://github.com/beerran/prime-table/wiki" target="_new">Wiki</a> in the near future.
</p>